/* Container untuk menampung semua project cards */
#project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.language-modal-text {
  font-weight: 600;
}

/* Style untuk masing-masing card project */
.project {
  width: 310px;
  height: 325px;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project p {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
}

.project:hover {
  background-color: #f0f0f0;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  color: #0077cc;
  text-decoration: none;
}

.modal a:hover {
  text-decoration: underline;
}

/* Modal Overlay */
#project-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  color: black;
}

/* Modal Content */
#project-modal .modal-content {
  max-width: 1100px;
  height: 600px;
  overflow-y: auto;
  margin: 5% auto;
  position: relative;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 8px;
}

/* Modal Close Button */
#modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Modal Image */
#modal-image {
  max-width: 100%;
  margin-bottom: 10px;
}

/* Link styling */
#modal-links a {
  color: #007bff;
  text-decoration: none;
}

#modal-links a:hover {
  text-decoration: underline;
}

/* Scrollbar Styling (optional) */
#project-modal .modal-content::-webkit-scrollbar {
  width: 8px;
}
#project-modal .modal-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.pagination > li > a
{
    background-color: white;
    color: #000000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #000000;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: rgb(0, 0, 0);
    background-color: #f7d51d !Important;
    border: solid 1px #e59400 !Important;
}

.pagination > .active > a:hover
{
    background-color: #f2c409 !Important;
    border: solid 1px #e59400;
}